include *.md

include LICENSE

include ir_reduce/*.conf  
include ir_reduce/*.config
include ir_reduce/*.conv
include ir_reduce/*.db
include ir_reduce/*.param
include ir_reduce/*.py
include *.py
include pytest.ini
include ir_reduce/*.nnw

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

