# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache
*.mypy_cache
dist
.tox
.coverage
htmlcov
*.egg-info
_build

# C extensions
*.so

# fits files
*.fits
# par files
*.par

testdata*
tools
panstarrs
scratch
bin
playground
photometrypipeline
.idea
