# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache
dist
.tox
.coverage
htmlcov
*.egg-info
_build

# C extensions
*.so

# fits files
*.fits
# par files
*.par

testdata
.idea
